@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@theme {
  --color-primary: #00BF6F;
  --color-primary-dark: #16A668;
  --color-primary-darker: #008169;
  --color-primary-50: #edfff5;
  --color-primary-100: #d5ffe8;
  --color-primary-200: #aeffd2;
  --color-primary-900: #003d2e;
}

body {
  @apply m-0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
